.projects-content {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  gap: 25px;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  box-sizing: border-box;
}

.project-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  cursor: pointer;
  text-align: center;
  user-select: none;
  transition: transform 0.15s;
}

.project-tile img {
  width: 64px;
  height: 64px;
  margin-bottom: 5px;
}

.project-tile span {
  font-size: 1.3rem;
  color: black;
}

.project-tile:hover {
  transform: scale(1.1);
}

/* =========================================== */

.project-window {
  display: flex;
  height: 100%;
  width: 100%;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto;
}

.project-images-wrapper {
  width: calc(50% - 5px);
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  flex-shrink: 0;
}

.project-images-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-images-container img, .project-images-container video {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 6px;
  display: block;
}

.project-text {
  width: calc(50% - 5px);
  padding: 10px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  height: auto;
}

.project-text h1{
  font-size: 2rem;

}

.project-text p {
  font-size: 1.5rem;
}