.projects-content {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  gap: 25px;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  box-sizing: border-box;
}

.project-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  cursor: pointer;
  text-align: center;
  user-select: none;
  transition: transform 0.15s;
}

.project-tile img {
  width: 64px;
  height: 64px;
  margin-bottom: 5px;
}

.project-tile span {
  font-size: 1.3rem;
  /* color: #003c74; */
  color: black;
}

.project-tile:hover {
  transform: scale(1.1);
}